# 2- Data Understanding

 ## 2.1 Loading Data

In [1]:
import pandas as pd 
import numpy as np 
from collections import OrderedDict

In [2]:
seattle_calendar = pd.read_csv('seattle/calendar.csv')
seattle_listings = pd.read_csv('seattle/listings.csv')
seattle_reviews = pd.read_csv('seattle/reviews.csv')
print(f'Listings shape is {seattle_listings.shape}')
print(f'Calendar shape is {seattle_calendar.shape}')
print(f'{3818}x{365} = 1393570')
print(f'reviews shape is {seattle_reviews.shape}')

Listings shape is (3818, 92)
Calendar shape is (1393570, 4)
3818x365 = 1393570
reviews shape is (84849, 6)

In [3]:
boston_calendar = pd.read_csv('boston-airbnb-open-data/calendar.csv')
boston_listings = pd.read_csv('boston-airbnb-open-data/listings.csv')
boston_reviews = pd.read_csv('boston-airbnb-open-data/reviews.csv')
print(f'Listings shape is {boston_listings.shape}')
print(f'Calendar shape is {boston_calendar.shape}')
print(f'{3585}x{365} = {3585*365}')
print(f'reviews shape is {boston_reviews.shape}')

Listings shape is (3585, 95)
Calendar shape is (1308890, 4)
3585x365 = 1308525
reviews shape is (68275, 6)

## 2.2 Calendar

Calendar data has 4 columns; listing_id : relating to the primary key of listings.csv,

data: the date of the reporting of that price, 

available: t for available and f for not, 

price: price in dollars on that day for that particular listing.

In [4]:
seattle_calendar.available.value_counts() / seattle_calendar.shape[0] *100

t    67.061002
f    32.938998
Name: available, dtype: float64

In [5]:
boston_calendar.available.value_counts() / boston_calendar.shape[0] *100

f    50.871578
t    49.128422
Name: available, dtype: float64

We find that 67% of seattle calendar data is available while only 51% in boston's calendar. 

We are yet to find if there is reason behind this missing data or does it follow a specific distribution. 

Things to try: check the distribution of false values over the year per month or per day. for all listings.

For now we suppose that not being available means that the listing was booking or for some other reason unavailable.

 We found that not all listings had 365 entries. 
 
 By checking we find the listing that is different

In [6]:
boston_calendar.groupby('listing_id')['date'].count()[boston_calendar.groupby('listing_id')['date'].count()!=365]

listing_id
12898806    730
Name: date, dtype: int64

In [7]:
boston_calendar_different = boston_calendar[boston_calendar.listing_id == 12898806]
boston_calendar_different.available.value_counts()

f    570
t    160
Name: available, dtype: int64

In [8]:
boston_calendar_different_avlbl = boston_calendar_different[boston_calendar_different.available == 't']
boston_calendar_different_avlbl.sort_values(by = 'date')

        listing_id        date available    price
748873    12898806  2016-09-06         t  $220.00
748850    12898806  2016-09-06         t  $220.00
748872    12898806  2016-09-07         t  $220.00
748849    12898806  2016-09-07         t  $220.00
748871    12898806  2016-09-08         t  $220.00
748848    12898806  2016-09-08         t  $220.00
748870    12898806  2016-09-09         t  $220.00
748847    12898806  2016-09-09         t  $220.00
748869    12898806  2016-09-10         t  $220.00
748846    12898806  2016-09-10         t  $220.00
748732    12898806  2016-09-11         t  $220.00
748845    12898806  2016-09-11         t  $220.00
748844    12898806  2016-09-12         t  $220.00
748731    12898806  2016-09-12         t  $220.00
748843    12898806  2016-09-13         t  $220.00
748730    12898806  2016-09-13         t  $220.00
748832    12898806  2016-09-24         t  $220.00
748719    12898806  2016-09-24         t  $220.00
748718    12898806  2016-09-25         t  $220.00
748831    12898806  2016-09-25         t  $220.00
748830    12898806  2016-09-26         t  $220.00
748717    12898806  2016-09-26         t  $220.00
748829    12898806  2016-09-27         t  $220.00
748716    12898806  2016-09-27         t  $220.00
748828    12898806  2016-09-28         t  $220.00
748715    12898806  2016-09-28         t  $220.00
748827    12898806  2016-09-29         t  $220.00
748714    12898806  2016-09-29         t  $220.00
748826    12898806  2016-09-30         t  $220.00
748713    12898806  2016-09-30         t  $220.00
...            ...         ...       ...      ...
748662    12898806  2016-11-20         t  $220.00
748775    12898806  2016-11-20         t  $220.00
748774    12898806  2016-11-21         t  $220.00
748661    12898806  2016-11-21         t  $220.00
748773    12898806  2016-11-22         t  $220.00
748660    12898806  2016-11-22         t  $220.00
748659    12898806  2016-11-23         t  $220.00
748772    12898806  2016-11-23         t  $220.00
748771    12898806  2016-11-24         t  $220.00
748658    12898806  2016-11-24         t  $220.00
748770    12898806  2016-11-25         t  $220.00
748657    12898806  2016-11-25         t  $220.00
748769    12898806  2016-11-26         t  $220.00
748656    12898806  2016-11-26         t  $220.00
748768    12898806  2016-11-27         t  $220.00
748655    12898806  2016-11-27         t  $220.00
748767    12898806  2016-11-28         t  $220.00
748654    12898806  2016-11-28         t  $220.00
748653    12898806  2016-11-29         t  $220.00
748766    12898806  2016-11-29         t  $220.00
748765    12898806  2016-11-30         t  $220.00
748652    12898806  2016-11-30         t  $220.00
748651    12898806  2016-12-01         t  $220.00
748764    12898806  2016-12-01         t  $220.00
748763    12898806  2016-12-02         t  $220.00
748650    12898806  2016-12-02         t  $220.00
748762    12898806  2016-12-03         t  $220.00
748649    12898806  2016-12-03         t  $220.00
748761    12898806  2016-12-04         t  $220.00
748648    12898806  2016-12-04         t  $220.00

[160 rows x 4 columns]

Seems like the data is duplicated since all the dates are available twice 

We make another test to make sure.

In [9]:
print(boston_calendar_different.sort_values(by = 'date')[::2].date.tolist() == boston_calendar_different.sort_values(by = 'date')[1::2].date.tolist())
print(boston_calendar_different.sort_values(by = 'date')[::2].price.tolist() == boston_calendar_different.sort_values(by = 'date')[1::2].price.tolist())
print(boston_calendar_different.sort_values(by = 'date')[::2].available.tolist() == boston_calendar_different.sort_values(by = 'date')[1::2].available.tolist())

True
True
True

It is confirmed that the data is just duplicated. Will be removed in Data preparation section.

## 2.2 Listings

We start by examining the columns avaliable. The first finding is that Boston and Seattle and Boston do not have the same number of attributes.

In [10]:
print(f'Number of Boston attributes = {len(boston_listings.columns)} \nNumber of Seattle attributes = {len(seattle_listings.columns)}')

Number of Boston attributes = 95
Number of Seattle attributes = 92

In [11]:
for column in boston_listings.columns:
    if column not in seattle_listings.columns:
        print(f'Attribute {column} in boston but not seattle')

Attribute access in boston but not seattle
Attribute interaction in boston but not seattle
Attribute house_rules in boston but not seattle

In [12]:
seattle_listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [13]:
boston_listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

Some columns are all missing or have only one type of data we point them out and remove them. Also the columns that are all NaNs.

In [14]:
print("Seattle scrape_id:")
print(seattle_listings.scrape_id.value_counts())
print("Boston scrape_id:")
print(boston_listings.scrape_id.value_counts())
print("Seattle last_scraped:")
print(seattle_listings.last_scraped.value_counts())
print("Boston last_scraped:")
print(boston_listings.last_scraped.value_counts())
print("Seattle experiences_offered:")
print(seattle_listings.experiences_offered.value_counts())
print("Boston experiences_offered:")
print(boston_listings.experiences_offered.value_counts())
print("Seattle requires_license:")
print(seattle_listings.requires_license.value_counts())
print("Boston requires_license:")
print(boston_listings.requires_license.value_counts())
print("Seattle city:")
print(seattle_listings.city.value_counts())
# print("Boston city:")
# print(boston_listings.city.value_counts()) # has a lot of different values
print("Seattle jurisdiction_names:")
print(seattle_listings.jurisdiction_names.value_counts())
print("Boston jurisdiction_names:")
print(boston_listings.jurisdiction_names.value_counts()) # All NaNs
print("Seattle country_code:")
print(seattle_listings.country_code.value_counts())
print("Boston country_code:")
print(boston_listings.country_code.value_counts())
print("Seattle country:")
print(seattle_listings.country.value_counts())
print("Boston country:")
print(boston_listings.country.value_counts())
print("Seattle city:")
print(seattle_listings.city.value_counts())
print("Boston city:")
print(boston_listings.city.value_counts())
print("Seattle smart_location:")
print(seattle_listings.smart_location.value_counts())
# print("Boston smart_location:")
# print(boston_listings.smart_location.value_counts()) # has a lot of different values
print("Seattle market:")
print(seattle_listings.market.value_counts())
print("Boston market:")
print(boston_listings.market.value_counts())
print("Seattle calendar_last_scraped:")
print(seattle_listings.calendar_last_scraped.value_counts())
print("Boston calendar_last_scraped:")
print(boston_listings.calendar_last_scraped.value_counts())

Seattle scrape_id:
20160104002432    3818
Name: scrape_id, dtype: int64
Boston scrape_id:
20160906204935    3585
Name: scrape_id, dtype: int64
Seattle last_scraped:
2016-01-04    3818
Name: last_scraped, dtype: int64
Boston last_scraped:
2016-09-07    3585
Name: last_scraped, dtype: int64
Seattle experiences_offered:
none    3818
Name: experiences_offered, dtype: int64
Boston experiences_offered:
none    3585
Name: experiences_offered, dtype: int64
Seattle requires_license:
f    3818
Name: requires_license, dtype: int64
Boston requires_license:
f    3585
Name: requires_license, dtype: int64
Seattle city:
Seattle                  3810
Seattle                     2
West Seattle                2
西雅图                         1
Phinney Ridge Seattle       1
seattle                     1
Ballard, Seattle            1
Name: city, dtype: int64
Seattle jurisdiction_names:
WASHINGTON    3818
Name: jurisdiction_names, dtype: int64
Boston jurisdiction_names:
Series([], Name: jurisdiction_names, dtype: int64)
Seattle country_code:
US    3818
Name: country_code, dtype: int64
Boston country_code:
US    3585
Name: country_code, dtype: int64
Seattle country:
United States    3818
Name: country, dtype: int64
Boston country:
United States    3585
Name: country, dtype: int64
Seattle city:
Seattle                  3810
Seattle                     2
West Seattle                2
西雅图                         1
Phinney Ridge Seattle       1
seattle                     1
Ballard, Seattle            1
Name: city, dtype: int64
Boston city:
Boston                       3381
Roxbury Crossing               24
Somerville                     19
Brookline                      18
Jamaica Plain                  18
Cambridge                      16
Dorchester                     15
Charlestown                    15
Brighton                       15
Allston                        12
Roslindale                      6
West Roxbury                    5
ROXBURY CROSSING                4
East Boston                     3
Mattapan                        3
Jamaica Plain                   2
ALLSTON                         2
Boston, Massachusetts, US       2
South Boston                    2
Jamaica Plain, Boston           2
Hyde Park                       2
Mission Hill, Boston            1
Roslindale, Boston              1
Jamaica Plain, MA               1
Watertown                       1
Milton                          1
Jamaica Plain (Boston)          1
波士顿                             1
Boston (Charlestown)            1
South End, Boston               1
Boston                          1
east Boston                     1
dorchester, boston              1
Brighton                        1
Jamaica plain                   1
Boston (Jamaica Plain)          1
boston                          1
Newton                          1
Name: city, dtype: int64
Seattle smart_location:
Seattle, WA                  3810
West Seattle, WA                2
Seattle , WA                    2
Phinney Ridge Seattle, WA       1
西雅图, WA                         1
Ballard, Seattle, WA            1
seattle, wa                     1
Name: smart_location, dtype: int64
Seattle market:
Seattle    3818
Name: market, dtype: int64
Boston market:
Boston                   3568
Other (International)       1
Other (Domestic)            1
San Francisco               1
Name: market, dtype: int64
Seattle calendar_last_scraped:
2016-01-04    3818
Name: calendar_last_scraped, dtype: int64
Boston calendar_last_scraped:
2016-09-06    3585
Name: calendar_last_scraped, dtype: int64

In [21]:
(seattle_listings.notna().sum(axis=0) / seattle_listings.shape[0]*100)[seattle_listings.notna().sum(axis=0) / seattle_listings.shape[0] < 0.8 ].sort_values(ascending = False)

host_acceptance_rate     79.753798
host_about               77.501310
transit                  75.536930
cleaning_fee             73.022525
neighborhood_overview    72.970141
notes                    57.936092
weekly_price             52.619172
security_deposit         48.873756
monthly_price            39.732844
dtype: float64

In [16]:
seattle_listings.drop(columns = ['license','square_feet','requires_license',
                                 'experiences_offered','city',
                                 'city','jurisdiction_names',
                                 'market','smart_location',
                                'country_code','country',
                                'scrape_id','last_scraped','calendar_last_scraped'],inplace=True)

In [20]:
(boston_listings.notna().sum(axis=0) / boston_listings.shape[0]*100)[boston_listings.notna().sum(axis=0) / boston_listings.shape[0] < 0.8 ].sort_values(ascending = False)

reviews_per_month              78.912134
last_review                    78.912134
first_review                   78.912134
review_scores_rating           77.322176
review_scores_communication    77.182706
review_scores_cleanliness      77.182706
review_scores_checkin          77.126918
review_scores_value            77.099024
review_scores_location         77.071130
review_scores_accuracy         77.043236
space                          70.516039
cleaning_fee                   69.121339
house_rules                    66.750349
transit                        64.016736
host_about                     63.486750
neighborhood_overview          60.529986
access                         58.465830
interaction                    56.652720
notes                          44.909344
security_deposit               37.433752
weekly_price                   24.881450
monthly_price                  24.769874
dtype: float64

In [18]:
(boston_listings.notna().sum(axis=0) / boston_listings.shape[0]*100)[boston_listings.notna().sum(axis=0) / boston_listings.shape[0] < 0.8 ].sort_values(asciiFalse)

The attributes can be thought of as in groups: 
0. The listing link
1. Describtive attributes about the listing. These are textual data describing different aspects of the listing. This includes name, summary, space, description, 'neighborhood_overview',notes, transit, access, interaction, house_rules.
2. Different forms of the listing picture : thumbnail_url, medium_url, picture_url, xl_picture_url
3. Host-specific attributes
4. Other numeric and categorical data.

# 1. Business Understanding.

After we got a look through the Data. Now is the time for analyzing from a business prespective. 

The first question that comes to mind is: How well can we predict the listing prices ? 

The second question is a related one which is: Which attributes correlate the most with the price of the listing? 

The third question is: Can we find a specific distribution of price changes during a whole calendar year ? 

The Fourth quation is: What are the similarities and differences between the Boston and Seattle Data?

# Miscellaneous

In [ ]:
c=0
for l_id in boston_listings.id.tolist():
    if boston_calendar[boston_calendar.listing_id == l_id].price.notna().sum()>356:
        c+=1

In [ ]:
c

In [ ]:
len(seattle_listings.neighborhood_overview.unique())

In [ ]:
word_cnt_dict_seattle = {}
for listing in range(seattle_listings.shape[0]):
    for word in seattle_listings.iloc[listing]['name'].strip().split():
        word = word.lower()
        if word in ['in', 'the', 'with','of', 'to', 'and', 'on', 'a', 'at','by', 'between'] or not word.isalnum():
            continue
        if word not in word_cnt_dict_seattle:
            word_cnt_dict_seattle[word] = 1
        else:
            word_cnt_dict_seattle[word] += 1
word_cnt_dict_seattle = OrderedDict(sorted(word_cnt_dict_seattle.items(), key=lambda t: t[1],reverse=True))

In [ ]:
word_cnt_dict_seattle

In [ ]:
for listing in range(seattle_listings.shape[0]):
    if 'hill' in  seattle_listings.iloc[listing]['name'].lower().strip().split():
        print(seattle_listings.iloc[listing]['name'].lower())

In [ ]:
for listing in range(seattle_listings.shape[0]):
    if 'room' in  seattle_listings.iloc[listing]['name'].lower().strip().split():
        print(seattle_listings.iloc[listing]['name'].lower())

In [ ]:
len(word_cnt_dict_seattle)

In [ ]:
seattle_listings.xl_picture_url[5]

In [ ]:
word_cnt_dict_seattle = {}
seattle_listings_temp = seattle_listings[seattle_listings.host_location.notna()]
for listing in range(seattle_listings_temp.shape[0]):
    for word in seattle_listings_temp.iloc[listing]['host_location'].strip().split():
        word = word.lower()
        if word in ['in', 'the', 'with','of', 'to', 'and', 'on', 'a', 'at','by', 'between']:
            continue
        if word not in word_cnt_dict_seattle:
            word_cnt_dict_seattle[word] = 1
        else:
            word_cnt_dict_seattle[word] += 1
word_cnt_dict_seattle = OrderedDict(sorted(word_cnt_dict_seattle.items(), key=lambda t: t[1],reverse=True))
word_cnt_dict_seattle

In [ ]:
seattle_listings.iloc[listing]['host_location']

In [ ]:
seattle_listings.require_guest_profile_picture.value_counts()